[Unit]
Description=Exec Every Minute	
Documentation=https://github.com/walmins/autoswitch-hiveOS


[Timer]
OnBootSec=10min
OnCalendar=*:*:00
Persistent=true
Unit=autoswitch-hiveOS.service  
 
[Install]
WantedBy=multi-user.target
